<footer class="site-footer">
   <div class="fot-logo"> <a href="/">Home</a></div>
   <div class="fot-icon">
       <a href="https://api.whatsapp.com/send?phone=420604173506"><img src="/foto/icon/whatsapp2.svg"> </a>
       <a href="https://www.facebook.com/profile.php?id=61576695866674"><img src="/foto/icon/facebook2.svg"></a>
       <a href="https://www.instagram.com/italsky_domov?igsh=MWxkejN2ZzZwOGQwdQ=="><img src="/foto/icon/instagram2.svg"></a>
       <a href="#"><img src="/foto/icon/telegram2.svg"></a>
   </div>
    <div class="footer-container">
        <nav class="footer-nav">
            <ul class="footer-list">
                <li><a href="/info">O mně</a></li>
                <li><a href="/property">Prodej nemovitostí</a></li>
                <li><a href="/rent">Pronájem</a></li>
                <li><a href="/info">Kontakty</a></li>
            </ul>
        </nav>
       <p>&copy;</p>
    </div>
</footer>
