<footer class="site-footer">
   <div class="fot-logo"> <a href="/">Logo</a></div>
   <div class="fot-icon">
       <a href="#"><img src="/foto/icon/whatsapp2.svg"> </a>
       <a href="#"><img src="/foto/icon/facebook2.svg"></a>
       <a href="#"><img src="/foto/icon/instagram2.svg"></a>
       <a href="#"><img src="/foto/icon/telegram2.svg"></a>
   </div>
    <div class="footer-container">
        <nav class="footer-nav">
            <ul class="footer-list">
                <li><a href="/info">O mně</a></li>
                <li><a href="/property">Prodej nemovitostí</a></li>
                <li><a href="/rent">Pronájem</a></li>
                <li><a href="/#contact">Kontakty</a></li>
            </ul>
        </nav>
       <p>&copy; 2023 Tony's Website. All rights reserved.</p>
    </div>
</footer>
