<header class="site-header">
    <div class="header-container">
        <a href="/" class="logo">Home</a>
        <nav class="main-nav">
            <ul class="nav-list">
                <li><a href="/faq">O Itálii</a></li>
                <li><a href="/rent">Pronájem</a></li>
                <li><a href="/property">Prodej nemovitostí</a></li>
                <li><a href="/info">O mně</a></li>
                <li class="dropdown-item">
                    <a href="#" class="dropdown-toggle">Kontakty</a>
                    <div class="dropdown-contacts">
                        <div class="contact">
                            <img src="/foto/icon/tel.svg"><a href="tel:+420604173506">+420 604 173 506</a>
                        </div>
                        <div class="contact">
                            <img src="/foto/icon/posta.svg"><a href="mailto:Srealestate@email.Cz">Srealestate@email.Cz</a>
                        </div>
                        <div class="contact">
                            <img src="/foto/icon/whats.svg"><a href="https://api.whatsapp.com/send?phone=420604173506">whatsapp</a>
                        </div>
                    </div>
                </li>
                                <div class="whatsicon">
                <a href="https://api.whatsapp.com/send?phone=420604173506" class="walogo"><img src="/foto/icon/whats.svg"></a>
                </div> 
            </ul>
        </nav>       
        <div class="burger-wrapper">
    <a href="https://api.whatsapp.com/send?phone=420604173506" class="burger-whatsapp">
        <img src="/foto/icon/whats.svg" alt="WhatsApp">
    </a>
    <div class="burger-menu" onclick="toggleMenu()">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<nav class="mobile-nav">
    <ul>
        <li><a href="/faq">O Itálii</a></li>
        <li><a href="/rent">Pronájem</a></li>
        <li><a href="/property">Prodej nemovitostí</a></li>
        <li><a href="/info">O mně</a></li>
        <li><a href="/info">Kontakty</a></li>
    </ul>
</nav>
    </div>
</header>
