<header class="site-header">
    <div class="header-container">
        <a href="/" class="logo">Home</a>
                    <div class="lang-fab">
              <div class="language-selector">
              <label for="lang-switcher" class="visually-hidden">Select language</label>
                <select id="lang-switcher">
                  <option value="cs" selected>🇨🇿 CZ</option>
                  <option value="en">🇬🇧 EN</option>
                  <option value="ru">🇷🇺 RU</option>
                  <option value="de">🇩🇪 DE</option>    
                  <option value="lt">🇱🇹 LT</option>
                  <option value="lv">🇱🇻 LV</option>                  
                  <option value="pl">🇵🇱 PL</option>
                  <option value="fi">🇫🇮 FI</option>
                  <option value="it">🇮🇹 IT</option>
                  <option value="sl">🇸🇮 SL</option>
                  <option value="no">🇳🇴 NO</option>
                </select>
              </div>
            </div>
        <nav class="main-nav">
            <ul class="nav-list">
                <li><a href="/faq" data-i18n="head1">O Itálii</a></li>
                <li><a href="/rent" data-i18n="head2">Pronájem</a></li>
                <li><a href="/property" data-i18n="head3">Prodej nemovitostí</a></li>
                <li><a href="/info" data-i18n="head4">O mně</a></li>
                <li class="dropdown-item">
                    <a href="#" class="dropdown-toggle" data-i18n="head5">Kontakty</a>
                    <div class="dropdown-contacts">
                        <div class="contact">
                            <img src="/foto/icon/tel.svg"><a href="tel:+420604173506">+420 604 173 506</a>
                        </div>
                        <div class="contact">
                            <img src="/foto/icon/posta.svg"><a href="mailto:Infodomusitaliana@gmail.Com">Infodomusitaliana@gmail.Com</a>
                        </div>
                        <div class="contact">
                            <img src="/foto/icon/whats.svg"><a href="https://api.whatsapp.com/send?phone=420604173506">whatsapp</a>
                        </div>
                    </div>
                </li>
                                <div class="whatsicon">
                <a href="https://api.whatsapp.com/send?phone=420604173506" class="walogo"><img src="/foto/icon/whats.svg"></a>
                </div> 
            </ul>
        </nav>       
        <div class="burger-wrapper">
    <a href="https://api.whatsapp.com/send?phone=420604173506" class="burger-whatsapp">
        <img src="/foto/icon/whats.svg" alt="WhatsApp">
    </a>
    <div class="burger-menu" onclick="toggleMenu()">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<nav class="mobile-nav">
    <ul>
        <li><a href="/faq" data-i18n="head1">O Itálii</a></li>
        <li><a href="/rent" data-i18n="head2">Pronájem</a></li>
        <li><a href="/property" data-i18n="head3">Prodej nemovitostí</a></li>
        <li><a href="/info" data-i18n="head4">O mně</a></li>
        <li><a href="/info" data-i18n="head5">Kontakty</a></li>
    </ul>
</nav>
    </div>
</header>
