<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title %}{{ page.title }} | domusitaliana{% else %}domusitaliana{% endif %}</title>
    <link rel="stylesheet" href="/styles/common.css">
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Lunasima:wght@400;700&display=swap');
    
    body {
    font-family: 'Lunasima', sans-serif;
}
    </style>
</head>
<body>
    <!-- Включаем шапку -->
    {% include "header.njk" %}

    <!-- Основной контент -->
    <main>
        {{ content | safe }}
    </main>

    <!-- Включаем подвал -->
    {% include "footer.njk" %}

    <!-- Подключаем скрипты -->
    <script src="/script/common.js"></script>


<script>
  function googleTranslateElementInit() {
    new google.translate.TranslateElement({
      pageLanguage: 'cs',
      includedLanguages: 'en,ru,de,lt,pl,fi,cs',
      layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
      autoDisplay: false
    }, 'google_translate_element');

    const langSwitcher = document.getElementById('lang-switcher');

    if (!langSwitcher) return;

    langSwitcher.addEventListener('change', () => {
      const selectedLang = langSwitcher.value;

      const trySetLang = setInterval(() => {
        const googleSelect = document.querySelector('.goog-te-combo');
        if (googleSelect) {
          googleSelect.value = selectedLang;
          googleSelect.dispatchEvent(new Event('change'));
          clearInterval(trySetLang);
        }
      }, 200);
    });
  }
</script>

<script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<div id="google_translate_element" style="display: none;"></div>







</body>
</html>