<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title %}{{ page.title }} | domusitaliana{% else %}domusitaliana{% endif %}</title>
    <link rel="stylesheet" href="/styles/common.css">
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Lunasima:wght@400;700&display=swap');
    
    body {
    font-family: 'Lunasima', sans-serif;
}
    </style>
</head>
<body>
    <!-- Включаем шапку -->
    {% include "header.njk" %}

    <!-- Основной контент -->
    <main>
        {{ content | safe }}
    </main>

    <!-- Включаем подвал -->
    {% include "footer.njk" %}




<script>
  function googleTranslateElementInit() {
    new google.translate.TranslateElement({
      pageLanguage: 'cs',
      includedLanguages: 'en,ru,de,lt,pl,fi,cs',
      layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
      autoDisplay: false
    }, 'google_translate_element');
  }

  function waitForTranslateAndSwitch(lang) {
    const interval = setInterval(() => {
      const select = document.querySelector('.goog-te-combo');
      if (select) {
        select.value = lang;
        select.dispatchEvent(new Event('change'));
        clearInterval(interval);
      }
    }, 200); // ждём появления select
  }

  const langSwitcher = document.getElementById('lang-switcher');
  if (langSwitcher) {
    langSwitcher.addEventListener('change', () => {
      const selectedLang = langSwitcher.value;
      waitForTranslateAndSwitch(selectedLang);
    });

    // при загрузке страницы — если язык уже выбран (из localStorage), то активируем его
    const savedLang = localStorage.getItem('selectedLang');
    if (savedLang) {
      waitForTranslateAndSwitch(savedLang);
      langSwitcher.value = savedLang;
    }
  }
</script>

<script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<div id="google_translate_element" style="display: none;"></div>



    <!-- Подключаем скрипты -->
    <script src="/script/common.js"></script>
</body>
</html>