---
title: fAQ
layout: layout.njk
---

<link rel="stylesheet" href="/styles/faq.css">
<section class="hero-section">
  <div class="prev">
    <h1 data-i18n="faq/h1">O Itálii (FAQ)</h1>
  </div>
  <div class="content" id="faq-container"></div>
    <!-- Сюда будет вставлен FAQ -->
  </div>
</section>

<script src="/script/faq-detail.js"></script>
