---
title: Home
layout: layout.njk
---
        <link rel="stylesheet" href="/styles/home.css">

<section id="home">
      <div class="hero-section">
         <div class="hero-left">
            <div class="hero-info">
              <h1 data-i18n="uph1">Nemovitost</h1>
               <h2 data-i18n="uph2">V bezkonkurenční oblasti<a href="#huck"> Itálie</a></h2>
             <div class="hero-h3">
                <h3><a href="#" data-i18n="uph3/1">Plná podpora</a></h3>  
                <h3><a href="#" data-i18n="uph3/2">Pouze ověřené nemovitosti</a></h3>
                <h3><a href="#" data-i18n="uph3/3">Nejlepší regiony Itálie</a></h3>
                <h3><a href="#" data-i18n="uph3/4">Více než <span class="highlight"> 900 </span>úspěšných transakcí</a></h3>
             </div>
           </div>
         </div>
               <div class="hero-but">
                <div class="hero-but1"><a href="/property"><span class="but1_des" data-i18n="upbut1">Galerie dostupných objektů</span><span class="but1_mob" data-i18n="upbut1/mob">Dostupných objektů</span></a></div>
                <div class="hero-but2"><a href="#huck" data-i18n="upbut2">NEMOVITOSTI</a></div>
               </div>
      </div>

          <div class="section1">
              <div class="section2">
                  <h1 data-i18n="head1">O Itálii</h1>
                  <h2 data-i18n="sec2h2">Proč je Itálie stabilní volbou pro investice do nemovitostí? Itálie není jen zemí umění, vína a moře. Je to také stát s hluboce zakořeněnou tradicí vlastnictví a podnikání.</h2>
              </div>
          </div>
<div class="section3">
  <div class="sec3-info">
    <div class="serv-info">
      <div class="serv-text" data-i18n="reg/infoh1">
        Více o městě
      </div>
      <div class="serv-block">
        <div class="serv-block-1">
          <p class="serv-h1" data-i18n="servblock1/title">
            Itálie není jen zemí umění, vína a moře. Je to také stát s hluboce zakořeněnou tradicí vlastnictví a podnikání. V posledních letech si udržuje stabilní zájem investorů díky své jedinečné kombinaci životního stylu, ekonomické rovnováhy a rozmanitosti regionů.
          </p>
          <p class="serv-h2" data-i18n="servblock1/desc">
            Zájem o nemovitosti v Itálii roste nejen mezi Evropany, ale i ze zámoří. Důvěra v právní systém, transparentnost koupě a rostoucí podpora zahraničních investorů činí tuto zemi bezpečným přístavem pro uložení kapitálu.
          </p>
        </div>

        <div class="serv-block-1">
          <p class="serv-h1" data-i18n="servblock2/title">
            Ať už hledáte útulný apartmán u moře, historický dům na venkově nebo obchodní příležitost v městě — Itálie vám nabídne víc než nemovitost. Nabízí vám rovnováhu, krásu a jistotu.
            A ti, kdo ji zastupují, chápou, že klíčem je nejen prodej, ale důvěra.
          </p>
          <p class="serv-h2" data-i18n="servblock2/desc">
            Na rozdíl od spekulativních trhů nabízí Itálie něco navíc — skutečný životní styl. Nemovitost zde nekupujete jen kvůli číslům. Kupujete kus atmosféry, tradice a kvality života.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
  

<section class="section-anunci" id="cardsContainer">
    <!-- Карточки будут подгружены сюда -->
</section>


<div class="section4">
  <h1 data-i18n="sec4h1">Podívat se na další města</h1>
  <div class="block-city" id="huck"></div>
  <div class="carousel-dots"></div>
</div>

     

          
</section>
<script src="/script/home.js"></script>