---
title: Info
layout: layout.njk
---

<link rel="stylesheet" href="/styles/info.css">

<section>
	<div class="hero-section">
     	<div class="block-left">
     	    <div class="left-info">
     		<h1 data-i18n="head4">O nás</h1>
     		<p data-i18n="info/1">Domus Italiana – Vaše důvěra, naše zodpovědnost</p>
     		<p data-i18n="info2">Jsme realitní kancelář s více než 10 lety zkušeností v oblasti prodeje nemovitostí. Pomáháme lidem naplnit sen o vlastním domě u moře – srdcem, odborností a osobním přístupem.</p>
     		<p data-i18n="info3">Naše práce nestojí jen na číslech, ale především na důvěře a schopnosti naslouchat. Každý klient je pro nás jedinečný – provázíme vás od výběru nemovitosti až po předání klíčů. A zůstáváme s vámi i poté, kdy už doma voní ranní káva.</p>
     		<p data-i18n="info4">Stavíme naši práci na dobrém jménu a osobních doporučeních, která vycházejí ze spokojenosti našich klientů.</p>
     		<p data-i18n="info5">Máme bohaté zkušenosti s transakcemi v Itálii i mimo ni.</p>
     		<p data-i18n="info6">Naším posláním je, aby nemovitosti skutečně sloužily lidem.</p>
     		<p data-i18n="info7">Vaše spokojenost pro nás není jen cíl – je to naše cesta. Věříme, že ke spokojenému bydlení vede poctivost, empatie a individuální přístup.</p>
     		<p data-i18n="info8">Pokud hledáte spolehlivého partnera ve světě italských nemovitostí, jsme tu pro vás.</p>
     		</div>
     		<div class="left-cont">
     			<h1 data-i18n="head6">Kontakty</h1>
     			<div class="contact">
     			<img src="/foto/icon/tel.svg"><a href="tel:+420604173506">+420 604 173 506</a>
     			</div>
     			<div class="contact">
     			<img src="/foto/icon/posta.svg"><a href="mailto:Infodomusitaliana@gmail.Com">Infodomusitaliana@gmail.Com</a>
     			</div>
     			<div class="contact">
     			<img src="/foto/icon/whats.svg"><a href="https://api.whatsapp.com/send?phone=420604173506">whatsapp: +420604173506</a>
     			</div>
     		</div>
     	</div>
	</div>
	<div class="section2">
		<div class="sec2-foto">
			
		</div>
		<div class="sec2-form">
	    <h2 data-i18n="form/info">Kontaktní formulář</h2>
        <form id="whatsappForm">
        <input type="text" id="name" placeholder="Jméno" required>
        <input type="tel" id="phone" placeholder="Telefon" required>
        <input type="text" id="mail" placeholder="Váš e-mail" required>
        <textarea id="message" placeholder="Vaše zpráva" required></textarea>
        <button type="submit" data-i18n="form/but">Napsat prodejci</button>
        </form>
		</div>
	</div>
</section>

<script src="/script/info.js"></script>