---
title: Anunci
layout: layout.njk
---

<link rel="stylesheet" href="/styles/info.css">

<section>
	<div class="hero-section">
     	<div class="block-left">
     	    <div class="left-info">
     		<h1>O mně</h1>
     		<p>Jmenuji se Inna, jsem uznávaná specialistka v oblasti realit a zaměřuji se na prodej luxusních nemovitostí v Itálii. Mnohaleté zkušenosti na trhu mi umožňují poskytovat klientům služby na nejvyšší úrovni.</p>
     		<p>Specializuji se zejména na exkluzivní vily a apartmány v prestižních oblastech, jako je Toskánsko, Ligurie nebo pobřeží Amalfi. Svým klientům zajišťuji kompletní servis od úvodní konzultace až po podpis kupní smlouvy. Za klíčovou součást své práce považuji osobní prohlídky vybraných nemovitostí a spolehlivé právní zázemí.</p>
     		<p>Zakládám si na budování dlouhodobých vztahů, které stojí na vzájemné důvěře a spokojenosti. Díky znalosti několika cizích jazyků jsem schopna efektivně komunikovat s klienty z celého světa. Mým hlavním cílem je vždy nalézt takové nemovitosti, které uspokojí i ty nejnáročnější požadavky. Pravidelně sleduji aktuální trendy na italském realitním trhu a aktualizuji svou nabídku.</p>
     		<p>Využívám širokou síť kontaktů a individuální přístup, abych svým klientům pomohla proměnit sny o italském domově ve skutečnost.</p>
     		</div>
     		<div class="left-cont">
     			<h1>Kontakty</h1>
     			<div class="contact">
     			<img src="/foto/icon/tel.svg"><a href="tel:+420604173506">+420 604 173 506</a>
     			</div>
     			<div class="contact">
     			<img src="/foto/icon/posta.svg"><a href="mailto:">mail.agent007@gmaoil.com</a>
     			</div>
     			<div class="contact">
     			<img src="/foto/icon/whats.svg"><a href="#">whatsapp: @agent007</a>
     			</div>
     		</div>
     	</div>
	</div>
	<div class="section2">
		<div class="sec2-foto">
			
		</div>
		<div class="sec2-form">
	    <h2>Kdy jsem ve městě</h2>
        <form id="whatsappForm">
        <input type="text" id="name" placeholder="Vaše jméno" required>
        <input type="tel" id="phone" placeholder="Váš telefon" required>
        <textarea id="message" placeholder="Zpráva" required></textarea>
        <button type="submit">Napsat prodejci</button>
        </form>
		</div>
	</div>
</section>

<script src="/script/info.js"></script>