---
layout: layout.njk
title: "Regione"
pagination:
    data: collections.regione
    size: 1
    alias: Region
    filter: "{{ region.fileSlug }}"
permalink: "/region/{{ Region.fileSlug }}/"
---


<link rel="stylesheet" href="/styles/regione.css">
<section class="hero-section">
    <div class="section-up">
<div class="regione-block" style="background-image: url('/{{ Region.data.images[0] }}');">
            <div class="regione-content">
                <h1>{{ Region.data.h1 }}</h1>
                <h2>{{ Region.data.h2 }}</h2>
                <div class="city-but">
                    <a href="/property">Prodej nemovitostí</a>
                </div>
            </div>
        </div>
    </div>
            <div class="section-cent">
                <h1>Více o městě</h1>
                <div class="sectionrow">
                <div class="blocleft">
                <p class="centleft">{{ Region.data.textL1 }}</p>
                <p class="centleft">{{ Region.data.textL2 }}</p>
                </div>
                <div class="blocright">
                <p class="pright">{{ Region.data.textR1 }}</p>
                <p class="pright">{{ Region.data.textR2 }}</p> 
                </div> 
                </div> 
                <div class="sectionh3">
                    <p>{{ Region.data.h3 }}</p>
                </div>   
                <div class="sectiondawn">
                <div class="dawninfo">
                    <p>{{ Region.data.dawn1 }}</p>
                    <p>{{ Region.data.dawn2 }}</p>
                </div>
                </div>  
            </div>
</section>