---
title: Services
layout: layout.njk
---

<link rel="stylesheet" href="/styles/services.css">
<section class="hero-section">
  <div class="prev">
    <h1 data-i18n="serv/h1">Co nabízíme (FAQ)</h1>
  </div>
  <div class="content" id="serv-container"></div>
    <!-- Сюда будет вставлен FAQ -->
  </div>
</section>

<script src="/script/services.js"></script>